---
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import type { CallToAction, Widget } from '~/types';
import Headline from '~/components/ui/Headline.astro';
import Button from '~/components/ui/Button.astro';

interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  callToAction?: CallToAction;
  actions?: string | CallToAction[];
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  actions = await Astro.slots.render('actions'),
} = Astro.props;
---

<WidgetWrapper>
  <div
    class="relative flex w-full flex-col items-center justify-center bg-[#2196f3] px-4 pb-6 pt-10 text-white lg:flex-row lg:py-10"
  >
    <Headline
      title={title}
      subtitle={subtitle}
      tagline={tagline}
      classes={{
        container: 'mb-0 md:mb-0',
        title: 'text-4xl md:text-4xl font-bold tracking-tighter mb-4 font-heading',
        subtitle: 'text-lg text-white dark:text-slate-400',
      }}
    />
    {
      actions && (
        <div class="m-auto mt-4 flex w-full flex-col flex-nowrap gap-4 sm:flex-row sm:justify-center md:w-1/2 lg:w-fit">
          {Array.isArray(actions) ? (
            actions.map((action) => (
              <div class="flex w-full">
                <Button
                  {...(action || {})}
                  class="z-30 w-full bg-white text-[#2196f3] hover:bg-white/90 hover:text-[#2196f3] sm:mb-0 lg:bg-[#2196f3] lg:text-white lg:hover:bg-[#2196f3]/90 lg:hover:text-white"
                />
              </div>
            ))
          ) : (
            <Fragment set:html={actions} />
          )}
        </div>
      )
    }

    <!-- LG Vectors -->
    <div class="absolute left-0 top-0 hidden h-full w-full overflow-hidden lg:block">
      <div class="absolute -top-56 left-48 h-56 w-[700px] rotate-12 bg-[#1565c0]"></div>
      <div class="absolute -top-52 right-10 h-[700px] w-96 rotate-45 bg-[#bbdefb]"></div>
    </div>

    <!-- Vector Designs -->
    <div class="absolute -top-3 left-12 z-20 h-10 w-10 bg-[#bbf8fb]"></div>
    <div class="absolute -top-4 left-8 z-10 h-6 w-6 border-[5px] border-[#ffc107] bg-transparent"></div>
    <div class="absolute -bottom-8 left-16 z-10 h-12 w-12 rounded-full border-[5px] border-[#bbdefb] bg-transparent">
    </div>
    <div class="absolute -top-8 right-10 h-16 w-16 rounded-full bg-[#ffc107]"></div>
  </div>
</WidgetWrapper>
