<div class="hidden w-1/2 md:block">
  <div
    class="absolute right-32 top-0 -z-10 h-0 w-0 border-b-[122px] border-l-[187px] border-b-[#ffecb3] border-l-transparent"
  >
  </div>
  <div class="absolute bottom-56 right-20 z-10 h-44 w-64 rounded-tl-3xl bg-[#bbdefb]"></div>
  <div class="absolute bottom-56 right-0 h-24 w-44 bg-[#ffecb3]"></div>
</div>
